<div class="container">
    <div class="cont-formulario">
      <div class="icon-return" (click)="return()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </div>
        <div class="head-form">
            <span>Formulario de Registro</span>
        </div>
        <form class="form-data" *ngIf="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
            <div class="row">
                <div class="col">
                    <label for="id">ID:</label>
                    <input id="id" formControlName="id">
                    <div *ngIf="formulario.get('id')?.invalid && formulario.get('id')?.touched">
                      <span *ngIf="formulario.get('id')?.errors?.['required']" style="color: red;">ID no válido</span>
                      <span *ngIf="formulario.get('id')?.errors?.['minlength']" style="color: red;">ID debe tener al menos 3 caracteres</span>
                      <span *ngIf="formulario.get('id')?.errors?.['maxlength']" style="color: red;">ID no puede tener más de 10 caracteres</span>
                      <span *ngIf="formulario.get('id')?.errors?.['idExists']" style="color: red;">ID ya existe</span>
                    </div>
                  </div>
                
                  <div class="col">
                    <label for="nombre">Nombre:</label>
                    <input [ngClass]="{'error': formulario.get('nombre')?.errors}"
                    id="nombre" formControlName="nombre">
                    <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
                      <span *ngIf="formulario.get('nombre')?.errors?.['required']" style="color: red;">Nombre no válido</span>
                      <span *ngIf="formulario.get('nombre')?.errors?.['minlength']" style="color: red;">Nombre debe tener al menos 5 caracteres</span>
                      <span *ngIf="formulario.get('nombre')?.errors?.['maxlength']" style="color: red;">Nombre no puede tener más de 100 caracteres</span>
                    </div>
                  </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label for="descripcion">Descripción:</label>
                    <input [ngClass]="{'error': formulario.get('descripcion')?.errors}"
                    id="descripcion" formControlName="descripcion">
                    <div *ngIf="formulario.get('descripcion')?.invalid && formulario.get('descripcion')?.touched">
                      <span *ngIf="formulario.get('descripcion')?.errors?.['required']" style="color: red;">Descripción no válida</span>
                      <span *ngIf="formulario.get('descripcion')?.errors?.['minlength']" style="color: red;">Descripción debe tener al menos 10 caracteres</span>
                      <span *ngIf="formulario.get('descripcion')?.errors?.['maxlength']" style="color: red;">Descripción no puede tener más de 200 caracteres</span>
                    </div>
                  </div>
                
                  <div class="col">
                    <label for="logo">Logo:</label>
                    <input [ngClass]="{'error': formulario.get('logo')?.errors}"
                    id="logo" formControlName="logo" type="text">
                    <div *ngIf="formulario.get('logo')?.invalid && formulario.get('logo')?.touched">
                      <span *ngIf="formulario.get('logo')?.errors?.['required']" style="color: red;">Logo no válido</span>
                    </div>
                  </div>
            </div>
          
            <div class="row">
                <div class="col">
                    <label for="fechaLiberacion">Fecha de Liberación:</label>
                    <input [ngClass]="{'error': formulario.get('fechaLiberacion')?.errors}"
                     id="fechaLiberacion" formControlName="fechaLiberacion" type="date">
                    <div *ngIf="formulario.get('fechaLiberacion')?.invalid && formulario.get('fechaLiberacion')?.touched">
                      <span *ngIf="formulario.get('fechaLiberacion')?.errors?.['required']" style="color: red;">Fecha de liberación no válida</span>
                      <span *ngIf="formulario.get('fechaLiberacion')?.errors?.['invalidFechaLiberacion']" style="color: red;">Fecha debe ser igual o mayor a la fecha actual</span>
                    </div>
                  </div>
                
                  <div class="col">
                    <label for="fechaRevision">Fecha de Revisión:</label>
                    <input [ngClass]="{'error': formulario.get('fechaRevision')?.errors}" 
                    id="fechaRevision" formControlName="fechaRevision" type="date">
                    <div *ngIf="formulario.get('fechaRevision')?.invalid && formulario.get('fechaRevision')?.touched">
                      <span *ngIf="formulario.get('fechaRevision')?.errors?.['required']" style="color: red;">Fecha de revisión no válida</span>
                      <span *ngIf="formulario.get('fechaRevision')?.errors?.['invalidFechaRevision']" style="color: red;">Fecha debe ser exactamente un año posterior a la fecha de liberación</span>
                    </div>
                  </div>
            </div>
          
            
          <div class="btn-actions">
              <button class="btn-reset" (click)="resetForm()">Reset</button>
              <button class="btn-agg" type="submit" [disabled]="formulario.invalid">Enviar</button>
          </div>
           

          </form>
          
          
          
    </div>

</div>
