.cont-formulario{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    .head-form{
        text-align: center;
        padding: 3%;
        border-bottom: 3px solid #cfcfcf;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 2%;
    }
    .form-data{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    .row{
        display: flex;
        .col{
            width: 50%;
            display: grid;
            padding: 1%;
        }
    }
}

.icon-return{
    padding: 1%;
    cursor: pointer;
    position: absolute;
}